.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f172a, #22c55e);
}

.auth-card {
  background: #111827;
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 350px;
  text-align: center;
  color: white;
}

.auth-card h2 {
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  outline: none;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.switch-text {
  margin-top: 10px;
}

.switch-text span {
  color: #22c55e;
  cursor: pointer;
}